html, body{
    height: 100%;
}

.background-div{
  width: 100%;
  height: 50%;


}



#quote-card{

height:90%;
margin: 0 auto;
}

#quote-container{

  height: 80%
}

#quote-text{
  display: inline;
  vertical-align: text-bottom;
}

#tweet-anchor{
  color: white;
}

a.nostyle:link{
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited{
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:focus{
  text-decoration: inherit;
}

a:hover{
  text-decoration: inherit;
}


#author-text{
  margin: 10px;
}

#twitter-icon{
  height: 50%;
  display: inline;
}

#new-quote-btn{
  margin: 10px;
}
